.customerCount{
    padding: 1.2rem;
    background-color: #070504;
    color: #e7e8ec;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.count{
    line-height : 0.1rem;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}
.count h2{
    font-size:2.5rem;
}
.count p{
    font-size:0.8rem;
}

@media screen and (max-width : 1200px){
    .count{
        flex-basis: 50%; 
        border-bottom: 1px solid #c1bbbd;
    }
}

@media screen and (max-width : 700px){
    .customerCount{
        flex-direction: column;
    }
    .count{
        border-bottom: 1px solid #c1bbbd;
    }
}