.productrow{
    display:flex;
    flex-direction: column;
}

.productTitle{
    padding: 1rem 3rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.productTitle .arrow .MuiSvgIcon-root{
    padding:10px;
    cursor:pointer;
    background-color:#070504;
    color:#e7e8ec;
    border-radius:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.productTitle .arrow .MuiSvgIcon-root:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.productCards{
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: wrap;
}